<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('homepage') }}">Início</a></li>
                <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
                <li><a href="#">Quem Somos</a></li>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>