<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('homepage') }}">Início</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="{{ url_for('quemsomos') }}">Quem Somos</a></li>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <input type="email">
        <input type="senha">
        <button>login</button>
        <button>cadastrar</button>
    </main>

</section>

<!-- Seção Serviços -->
<section id="Serviços" class="serviços-section">
    <h2>Serviços Exclusivos</h2>
    <div class="serviços-grid">
        <div class="serviços-container">
            <div class="image-container">
                <img src="../static/foto.webp" alt=, id="carousel-serviços">
            </div> 
            <div class="serviços-text">
                <h3>Especialista em montagens </h3>
            </div>
        </div>

        <div class="Serviços-container reverse">
            <div class="image-container">
                <img src="../static/images.jpeg" alt="Instalaçoes">
            </div>
            <div class="Servços-text">
                <h3>Instalações e reparos</h3>
                <p>      </p>
            </div>
        </div>
</body>
</html>